html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
main{
    margin-top: 20px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
h2{
    font-size: 21px;
    margin-top: 35px;
    margin-bottom: 25px;
}
p{
    font-size: 16px;
}
p, figure{
    margin: 0;
}


/*Header*/

header{
    height : 100px;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
}
header a{
    font-size: 20px;
}
header figure{
    margin-left: 5%;
}
nav{
    margin-top: 30px;
    width: 100%;
}
nav ul{
    margin: 0;
    padding: 0;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
nav li{
    width: 100%;
    text-align: center;
    list-style-type: none;
    border-bottom: 3px solid #D9D9D9;
}
nav li:hover a{ 
    color: #0065fc;  
}
nav li:hover{
    border-bottom: 3px solid #0065fc;
}
#inscription{
    margin-right: 5%;
    margin-left: auto;
    color: #0065fc;
    font-weight: bold;
}

/*Titre, barre de recherche et filtres*/

.en-tete{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}
.en-tete h1{
    margin: 0;
    margin-bottom: 10px;
}
.en-tetep{
    font-size: 16px;
}
/*Button de rechercher*/

#recherche{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 0 2px #f2f2f2 inset;
    border-radius: 15px;
}
#recherche-barre{
    border: 0;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    color: black;
    font-size: 17px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Raleway', serif;
    width: 100%;
}
#recherche-icone{
    width: 50px;
    background-color: #f2f2f2;
    font-size: 17px;
    text-align: center;
    color: black;
    line-height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    flex-shrink: 0;
}
#recherche-button{
    font-size: 17px;
    flex-shrink: 0;
    background-color: #0065fc;
    border: 0;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    width: 50px;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    height: 50px;
    margin: 0;
    padding: 0;
}
#recherche-button p{
    display: none;
}

/*Filtres*/

.filtres{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    flex-wrap: wrap;
}
.filtres p{
    font-size: 17px;
    align-self: flex-start;
    width: 100%;
    font-weight: bold;
}
.filtresBox{
    margin-top: 15px;
    display: flex;
    height: 50px;
    border-radius: 90px;
    cursor: pointer;
    font-size: 17px;
}
.filtresBox div{
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #deebff;
    text-align: center;
    color: #0065fc;
    border-radius: 90px;
    transition: transform 250ms;
}
.filtresBox:hover p{
    background-color: #0065fc;
    border: 2px solid #0065fc;
    color: white;
}
.filtresBox:hover div{
    transform: scale(0.8, 0.8);
    box-shadow: 0px 0px 15px rgba(75, 52, 52, 0.3);
    background-color: white;
}
.filtresBox p{
    font-size: 17px;
    height: 46px;
    padding-left: 55px;
    padding-right: 15px;
    border: 2px solid #d9d9d9;
    border-radius: 90px;
    line-height: 46px;
    transition: transform 250ms;
}
.dispo-logements{
    margin-top: 35px;
    display: flex;
}
.dispo-logements div{
    flex-shrink: 0;
    font-size: 10px;
    border: 1px solid #d9d9d9;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #0065fc;
}
.dispo-logements p{
    margin-left: 10px;
}

/*Hebergements*/

.resultats{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.etoile-grise{
    color: #D9D9D9;
}
.resultats article{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
.hebergements-liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.hebergements-liste a{
    width: 100%;
    height: 175px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 250ms ease;
    margin-bottom: 15px;
}
.hebergements-liste figure{
    overflow: hidden;
    margin: 0;
}
.hebergements-liste img{
    width: 100%;
    height: 95px;
    object-fit: cover;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}
.hebergements-liste figcaption{
    margin-left: 8px;
}
.hebergements-liste h3{
    margin: 0;
    font-size: 18px;
}
.hebergements-liste p{
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}
.hebergements-liste div{
    margin-top: 8px;
    font-size: 13px;
    color: #0065fc;
}
#afficher-plus{
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}
/*Animation hover*/
.hebergements-liste a:hover{
    transform: scale(1.05, 1.05);
}

/*Aside*/

.resultats aside{
    background-color: #f2f2f2;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    order: -1;
}
#populaires-titre{
    display: flex;
    align-items: baseline;
}
#populaires-titre div{
    margin-left: auto;
}
#populaires-titre i{
    font-size: 21px;
}
.populaires-liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 20px;
}
.populaires-liste a{
    width: 100%;
    height: 130px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 250ms ease;
    margin-bottom: 10px;
}
.populaires-liste figure{
    display: flex;
    margin: 0;
}
.populaires-liste img{
    flex-shrink: 0;
    width: 35%;
    height: 130px;
    object-fit: cover;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}
.populaires-liste figcaption{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 15px;
}
.populaires-liste h3{
    margin: 0;
    font-size: 18px;
}
.populaires-liste p{
    margin: 0;
    margin-top: 5px;
    font-size: 16px;
}
.populaires-liste div{
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 13px;
    color: #0065fc;
}
/*Animation hover*/
.populaires-liste a:hover{
    transform: scale(1.05, 1.05);
}

/*Activités*/

.activites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
#activites-titre{
    margin-left: 5%;
}
.activites figure{
    height: 180px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.activites img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 250ms ease;
}
.activites figcaption{
    width: 100%;
    height: 50px;
    padding-left: 5%;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: transform   250ms ease;
}
.activites-groupe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.activites figure:hover img{
    transform: scale(1.1,1.1);
}

/*Footer*/

footer{
    background-color: #f2f2f2;
    padding-bottom: 50px;
}
footer h3{
    margin-top: 40px;
    font-size: 18px;
}
footer a{
    margin-top: 10px;
    font-size: 16px;
}
#footer-section{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
#footer-section div{
    display: flex;
    flex-direction: column;
}