html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
main{
    max-width: 1200px;
    margin: auto;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
h2{
    font-size: 1.2em;
    margin-top: 35px;
    margin-bottom: 25px;
}
p, figure{
    margin: 0;
}



/*Header*/

header{
    max-width: 1200px;
    margin: auto;
    height : 100px;
    display: flex;
    align-items: center;
}
header a{
    order: 1;
}
nav{
    list-style-type: none;
    margin-left: auto;
    height: 100%;
    margin-right: 20px;
}
nav ul{
    height: 100%;
    display: flex;
    margin: 0;
}
nav li{
    height: 100px;
    line-height: 100px;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 2px solid white;
}
nav li:hover{ 
    border-top: 2px solid #0065fc;
}
nav li:hover a{
    color: #0065fc;
    font-weight: 500;
}
#inscription{
    color: #0065fc;
    font-weight: bold;
}

/*Button de rechercher*/

#recherche{
    margin-top: 20px;
    display: flex;
    width: 350px;
    height: 40px;
}
#recherche-barre{
    border: 1px solid #f2f2f2;
    background-color: white;
    color: black;
    font-size: 15px;
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Raleway', serif;
}
#recherche-icone{
    width: 40px;
    background-color: #f2f2f2;
    font-size: 15px;
    text-align: center;
    color: black;
    line-height: 40px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#recherche-button{
    background-color: #0065fc;
    border: 0;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    width: 100px;
    font-family: 'Raleway';
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}
#recherche-button i{
    display: none;
}

/*Filtres*/

.filtres{
    margin-top: 25px;
    display: flex;
    max-width: 900px;
    justify-content: flex-start;
    font-weight: 600;
    flex-wrap: wrap;
    line-height: 42px;
}
#filtres-titre{
    margin-right: 5%;
}
.filtresBox{
    margin: 0 3% 15px 0;
    display: flex;
    height: 42px;
    border-radius: 90px;
    cursor: pointer;
}
.filtresBox div{
    position: absolute;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background-color: #deebff;
    text-align: center;
    color: #0065fc;
    border-radius: 90px;
    transition: transform 250ms;
}
.filtresBox:hover p{
    background-color: #0065fc;
    border: 2px solid #0065fc;
    color: white;
}
.filtresBox:hover div{
    transform: scale(0.8, 0.8);
    box-shadow: 0px 0px 15px rgba(75, 52, 52, 0.3);
    background-color: white;
}
.filtresBox p{
    height: 38px;
    padding-left: 45px;
    padding-right: 10px;
    border: 2px solid #d9d9d9;
    border-radius: 90px;
    line-height: 38px;
    transition: transform 250ms;
}
.dispo-logements{
    margin-top: 35px;
    display: flex;
}
.dispo-logements div{
    flex-shrink: 0;
    font-size: 10px;
    border: 1px solid #d9d9d9;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #0065fc;
}
.dispo-logements p{
    margin-left: 10px;
}

/*Hebergements*/

.resultats{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.etoile-grise{
    color: #D9D9D9;
}
.resultats article{
    background-color: #f2f2f2;
    width: 60%;
    min-height: 520px;
    border-radius: 14px;
    padding: 0 3% 0 3%;
}
.hebergements-liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}
.hebergements-liste a{
    width: 210px;
    height: 160px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 250ms ease;
}
.hebergements-liste figure{
    overflow: hidden;
    margin: 0;
}
.hebergements-liste img{
    width: 100%;
    height: 95px;
    object-fit: cover;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
}
.hebergements-liste figcaption{
    margin-left: 8px;
}
.hebergements-liste h3{
    margin: 0;
    font-size: 15px;
}
.hebergements-liste p{
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
}
.hebergements-liste div{
    margin-top: 8px;
    font-size: 13px;
    color: #0065fc;
}
#afficher-plus{
    margin: 0 0 25px 0;
    font-size: 15px;
    font-weight: bold;
}

/*Animation hover*/
.hebergements-liste a:hover{
    transform: scale(1.05, 1.05);
}

/*Aside*/

.resultats aside{
    background-color: #f2f2f2;
    width: 25%;
    border-radius: 15px;
    padding: 0 3% 0 3%;
    max-height: 520px;
}
#populaires-titre{
    display: flex;
    align-items: baseline;
}
#populaires-titre div{
    margin-left: auto;
}
.populaires-liste{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
.populaires-liste a{
    width: calc(100%-4px);
    height: 110px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 250ms ease;
}
.populaires-liste figure{
    display: flex;
    margin: 0;
}
.populaires-liste img{
    width: 35%;
    height: 110px;
    object-fit: cover;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 11px;
}
.populaires-liste figcaption{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 15px;
}
.populaires-liste h3{
    margin: 0;
    font-size: 15px;
}
.populaires-liste p{
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
}
.populaires-liste div{
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 13px;
    color: #0065fc;
}

/*Animation hover*/
.populaires-liste a:hover{
    transform: scale(1.05, 1.05);
}

/*Activités*/

.activites{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.activites a, .activites-groupe{
    width: 270px;
}
.activites-groupe a{
    width: 100%;
}
.activites figure{
    height: 380px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.activites img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 250ms ease;
}
.activites figcaption{
    width: 100%;
    height: 45px;
    padding-left: 5%;
    line-height: 45px;
    position: absolute;
    bottom: 0;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
}
.activites-groupe{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Animation hover*/

.activites figure:hover img{
    transform: scale(1.1,1.1);
}

/*Footer*/

footer{
    background-color: #f2f2f2;
    font-size: 0.8em;
}
footer h3{
    margin-top: 40px;
}
footer a{
    margin-top: 10px;
}
#footer-section{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding-bottom: 30px;
}
#footer-section div{
    display: flex;
    flex-direction: column;
    width: 34%;
}

@media screen and (min-width:901px) {
    .activites-groupe .grand{
        height: 200px;
    }
    .activites-groupe .petit{
        height: 140px;
    }
}
@media screen and (min-width:601px) and (max-width: 1280px) {
    main{
        margin: 0 3% 0 3%;
    }
    header{
        margin: 0 3% 0 3%;
    }
    #footer-section{
        margin-left: 3%;
    }
    .activites{
        flex-wrap: wrap;
    }
    .activites figure{
        height: 250px;
    }
    .activites a, .activites-groupe{
        width: 48%;
    }
    .activites-groupe a{
        width: 100%;
    }
    .activites-groupe .grand{
        height: 110px;
    }
    .activites-groupe .petit{
        height: 110px;
    }
}
@media screen and (max-width:900px) {
    .resultats article{
        width: 94%;
    }
    .resultats aside{
        order: -1;
        width: 94%;
    }
    .resultats{
        flex-direction: column;
    }
    .resultats aside{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 600px) {
    header{
        margin-top: 10px;
        height : 100px;
        display:flex;
        flex-flow: row wrap;
        align-items: center;
    }
    header figure{
        margin-left: 5%;
    }
    nav{
        margin: 0;
        width: 100%;
        height: 40px;
    }
    nav ul{
        margin: 0;
        margin: 0;
        padding: 0;
        height: 40px;
        display: flex;
        justify-content: space-around;
    }
    nav li{
        line-height: 40px;
        margin: 0;
        height: 40px;
        width: 100%;
        text-align: center;
        list-style-type: none;
        border-top: 0;
        border-bottom: 3px solid #D9D9D9;
    }
    nav li:hover a{ 
        color: #0065fc;  
    }
    nav li:hover{
        border-top: 0;
        border-bottom: 3px solid #0065fc;
    }
    #inscription{
        order: 0;
        margin-right: 5%;
        margin-left: auto;
        color: #0065fc;
        font-weight: bold;
    }

    /* Recherche*/

    #en-tete{
        margin: 0 5% 0 5%;
    }

    #recherche{
        width: 100%;
        justify-content: space-between;
        box-shadow: 0 0 0 2px #f2f2f2 inset;
        border-radius: 15px;
        height: 50px;
    }
    #recherche-barre{
        border: 0;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        width: 100%;
    }
    #recherche-icone{
        line-height: 50px;
        width: 50px;
        flex-shrink: 0;
    }
    #recherche-button{
        line-height: 50px;
        width: 50px;
        border-radius: 15px;
        flex-shrink: 0;
    }
    #recherche-button i{
        display: block;
    }
    #recherche-button p{
        display: none;
    }

    /* Hébergements */

    .resultats aside{
        padding: 0 5% 0 5%;
        width: 90%;
        border-radius: 0;
    }
    .resultats article{
        padding: 0 5% 0 5%;
        width: 90%;
        background-color: transparent;
    }
    .hebergements-liste a{
        width: 100%;
        height: 200px;
    }
    .hebergements-liste img{
        height: 135px;
    }

    /* Activites */

    .activites a, .activites-groupe{
        width: 100%;
    }
    .activites figure{
        height: 180px;
    }
    .activites{
        flex-direction: column;
        width: 90%;
        margin: 0 5% 0 5%;
    }
    #activites-titre{
        margin-left: 5%;
    }

    /* Footer */

    footer{
        font-size: 0.9em;
    }
    #footer-section{
        flex-direction: column;
        margin-left: 5%;
    }
    #footer-section div{
        width: 100%;
    }
}